/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* Reset Universal Tag */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Section */
body {
  width: 100%;
  background-color: #edede9;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

/* Nav Bar Section */

.bg-img {
  background-image: url(./img/showcase.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 900px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 30px; */
  flex-wrap: wrap;
  color: #252422;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-left: 32px;
  /* left: -30px; */
  background-color: #edede9;
  width: 100%;
}

/* Main Title Style */

/* .nav-main-name {
  font-family: "Aboreto", cursive;
  font-size: 28px;
  margin-right: 30px;
} */

.link {
  font-family: "Aboreto", cursive;
  font-size: 24px;
  margin-right: 30px;
  text-decoration: none;
}

.link:visited {
  color: #252422;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 20px; */
  flex-wrap: wrap;
}

li {
  margin: 18px;
  font-family: "Aboreto", cursive;
  font-size: 16px;
}

li:hover {
  color: #805b10;
  cursor: pointer;
  border-bottom: 1px solid #25242270;
}

/* Showcase */

.showcase {
  background-color: #403d3990;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 990px;
  width: 550px;
  color: #edede9;
}

.showcase-title {
  font-size: 40px;
  margin: 20px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.showcase-text {
  text-align: center;
}

.shop-btn {
  border: 3px solid #edede9;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 14px;
  letter-spacing: 2px;
}

.shop-btn:hover {
  background-color: #403d3990;
  color: #edede9;
  cursor: pointer;
  transition: 0.7s;
}

/* Products Container */

.products-container {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
  margin: 50px 0;
  font-size: 22px;
  color: #252422;
}

h3 {
  text-align: center;
  margin-top: 16px;
}

/* .products-container h2 {
  text-align: center;
  margin: 50px 0;
  font-size: 22px;
  color: #252422;
} */

.products img {
  display: flex;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #805b1020;
  border-radius: 10px;
}

.text {
  /* display: flex; */
  width: 200px;
  text-align: center;
  margin-top: 6px;
}

img {
  transform-origin: 50% 65%;
  transition: transform 0.5s, visibility 0.8s ease-in;
}
img:hover {
  transform: scale(1.1);
  filter: brightness(95%);
  cursor: pointer;
}
